body {
    background-color: antiquewhite;
}

.block {
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50px;
    position: relative;
    left: 500px;
    top: 28px
}

#colorBlock {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 670px;
    border-radius: 50px;
}

#colorButton {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border:2px solid antiquewhite;
    background-color: red;
    color: antiquewhite;
}